.productcount{
    padding: 8px;
    width: 45px;
    border-radius: 4px;
    border: 1px #9c9ea1 solid;
   
}

.slick-slide > div {
  margin: 0 15px;
}
.slick-list {
  margin: 0 -15px;
}
.button-left {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.button-right {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Addtocart{
    font-size: 16px;
    font-weight: bold;
}
.addtocartbtn{
    border-radius: 50px;
    width: 100%;
    background: linear-gradient(to right,#9656d6,#507de6);
}

.product-page-img{
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    border-radius: 10%;
}
.product-page-imgtab{
    border-radius: 5px;
    width: 100%;
    border-radius: 8%;
}
.productdetailsimg-row{
    padding-right: 40px;
    padding-left: 40px;
}


