.productcount{
    padding:10px 28px;
    width: 20px;
    border-radius: 4px;
    border: 1px #9c9ea1 solid;
   
}

.slick-slide > div {
  margin: 0 15px;
}
.slick-list {
  margin: 0 -15px;
}
.button-left {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.button-right {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Addtocart{
    font-size: 18px;
    font-weight: bold;
}
.addtocartbtn{
    border-radius: 50px;
    padding: 7px 10px;
    width: 100%;
    color: #ffffff;
    text-transform: inherit;
    background: linear-gradient(to right,#850cf0,#507de6);
}

.product-page-img{
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    border-radius: 10%;
}
.product-page-imgtab{
    border-radius: 5px;
    width: 100%;
    border-radius: 8%;
}
.productdetailsimg-row{
    padding-right: 40px;
    padding-left: 40px;
}

.product-detail-title{
    color: #1e2666;
    font-size: 40px;
  }

  .productdesc{
      font-size: 20px;
  }
  .breadcrumbsec{
      padding: 40px;
      width: 100%;
  }

  .breadcrumbsitems{
      display: inline-block;
  }
  .breadcrumbsitems::after{
    content: " / ";
  }
  .breadcrumbslink{
      color: black;
  }

@media only screen and (max-width: 600px) {
    body{
      
    }
  }
