@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root{
    --text-color: #2E2E2E;;
    --primary:#123593;
    --primary-light: #2E3871;
    --secondary: ;
    --white: #fff;
    --black: #444444;
    --danger: #FA0300;
}


.header-logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.secondary {
    background: #e91e63;
}


.header{
    background-color: #00bcd4;
}
.card:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}


.card-text {
    font-size: 19px;
}

.category-title{
    /* height: 60px; */
    text-align: center;
}

.product-item{
    float: left;
}

.product-price {
    font-size: 25px;

}

.product-list{
    margin: 0 auto;
    padding: 0;
    list-style: none outside;
    clear: both;
}


.handmade-page-img {
    width: 100%;
    height: 450px;
}

.back-btn{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
}

.back-btn >a> i{
    color:#fff ;
    font-size: 45px ;
}

.product-details-table  td{
    padding: .75rem;
    vertical-align: top;
}

.product-details-table {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.explore{
    border-radius: 50px;
    width: 100%;
    background:white;
}
.explore-text {
    color: var(--black);
    font-weight: bold;
}

.text-pink{
    color: #ff00ff;
}

.img-thumbnail{
    width: 100px;
}
.app {
    background-color: #f8f8f8;
}
.card-body {
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
}
.product-item {
    border-radius: 12px;

}
.handmade-btn {

}


/* Override Content */
.slick-slide img,
.card-img-top{
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.category-card-img{
   border-radius: 12px;
}
.main-slider .slick-slide{
    /* background: linear-gradient(225deg, #4488FF 0%, #490096 100%); */
}
.main-slider .slick-next{right: 25px;}
.main-slider .slick-prev{
    left: 25px;
    z-index: 1;
}
.main-slider .slick-dots{
    bottom: 25px;
}
/* header */
.navbar-brand{
    font-size: 24px;
}
.nav-cart{
    font-size: 24px;
    color: #5D5D5D;
}
.nav-cart .badge{
    background-color: var(--danger);
    color: var(--white);
    border-radius: 50%;
    font-size: 12px;
    height: 20px;
    width: 20px;
    top: 8px;
    right: 4px;
}
.header-search{
    display: flex;
    flex: 1 1 auto;
}
.header-search .form-control{
    flex: 1 1 auto;
}
.header-search .btn-search{
    right: 5px;
}
.title{
    color: var(--primary-light);
    font-size: 28px;
}

/* footer */
.site-footer{
    background-color: #242F3F;
}
.site-footer a{
    color: var(--white);
}
.site-footer a:hover{
    color: #ababab;
}
.copyright-text{
    font-size: 14px;
}
.social-menu{
    font-size: 24px;
}





/* MEDIA QUERIES */
@media (min-width: 1280px){
    .container, 
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1240px;
    }
}