@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap";

:root{
    --text-color: #2E2E2E;;
    --primary:#123593;
    --primary-light: #2E3871;
    /* --secondary: ; */
    --white: #fff;
    --black: #444444;
    --danger: #FA0300;
}

.container{
    max-width:1190px !important ;
}

.header-logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.secondary {
    background: #e91e63;
}


.header{
    background-color: #00bcd4;
}
.card:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}


.card-text {
    border-bottom:1px solid #97979733;
}

.text-muted{
    font-size: 16px;
    color: #2E2E2E !important;
    font-family: 'Raleway', sans-serif;
}

.cat-title{
    margin-left: 20px;
    color: #2E3871;
    font-size: 28px;
    letter-spacing: 0.64px;
    line-height: 33px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;

}
.product-item{
    float: left;
}

.product-price {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 49px;
    font-family: 'Open Sans', sans-serif;   

}

.product-list{
    margin: 0 auto;
    padding: 0;
    list-style: none outside;
    clear: both;
}


.handmade-page-img {
    width: 100%;
    height: 450px;
}
.handmadeinfo-list{
    color: #5C737D;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: 0.41px;
    line-height: 29.12px;
    text-decoration: none;
    list-style-type:none;
    padding: 0;
}
.handmade-price{
    font-size: 36px;
    color: #2E2E2E;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif; 
}
.ban-btn a{
    color: #ffffff !important;
    padding: 12px 27px;
}
.cst-btn{
    border: 1px solid #6874E8;
    padding: 15px 40px;
    text-transform: uppercase;
}
.handmade-wrapper .buy-btn{
    font-family: 'Raleway', sans-serif; 
    font-size: 14px;
    border: 1px solid #6874E8;
    padding: 14px 40px;
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(225deg, #4488FF 0%, #490096 100%);
}
.back-btn{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
}
.overlay-nav{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.7);
}

.back-btn >a> i{
    color:#fff ;
    font-size: 45px ;
}

.product-details-table  td{
    padding: .75rem;
    vertical-align: top;
}

.product-details-table {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.explore{
    border-radius: 50px;
    width: 100%;
    background:white;
}
.explore-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #2E3871;
}
.explore:hover{
    text-decoration: none;
}
.text-pink{
    color: #ff00ff;
}

.img-thumbnail{
    width: 100px;
}
.app {
    background-color: #f8f8f8;
}
.card-body {
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #E7E7E7;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 18px;
    
}
.product-item {
    border-radius: 12px;

}



/* Override Content */
.slick-slide img,
.card-img-top{
    object-fit: cover;
}
.category-card-img{
    width: 100%;
   border-radius: 12px;
   position: relative;
}
.category-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    font-weight: bold;     
    color: white;
    font-size: 40px;

}
.main-slider .slick-slide{
    /* background: linear-gradient(225deg, #4488FF 0%, #490096 100%); */
    margin: 0;
}
.slick-slide{
    margin: 0 !important;
}
.slick-slide img{
    width: 100%;
}
.main-slider .slick-next{right: 25px;}
.main-slider .slick-prev{
    left: 25px;
    z-index: 1;
}
 .slick-dots{
    bottom: 35px !important;
}
.main-slider .slick-dots li.slick-active button:before{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border:1px solid #ffffff;
}
.main-slider .slick-dots li.slick-active button:before {
    color: #ffffff;
}
.main-slider .slick-dots li button:before{
    color: #ffffff;
}
/* header */
.navbar-brand{
    font-size: 24px;
    margin-left:15px;
}
.form-inline{
    width:97%;
}
.nav-cart{
    font-size: 24px;
    color: #5D5D5D;
    padding-left: 30px;
}
.user{
    font-size: 18px;
    text-transform: capitalize;
    padding-right:2px;
    font-family: 'Raleway', sans-serif;
    padding-left: 30px;
}
.user span{
    margin-left:10px;
}
.nav-cart .badge{
    background-color: var(--danger);
    color: var(--white);
    border-radius: 50%;
    font-size: 12px;
    height: 20px;
    width: 20px;
    top: 8px;
    right: 4px;
}
.header-search{
    display: flex;
    flex: 1 1 auto;
}
.header-search .form-control{
    flex: 1 1 auto;
    padding: 25px;
    color:#333333;
    padding-left:20px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #DFDFDF;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(180deg, #F8F8F8 0%, #F7F7F8 100%);
}
.header-search .btn-search{
    right: 5px;
}
.header-search .form-inline  .btn{
    padding: 11px 17px;
    border-left: 1px solid #BBBBBB; 
    border-radius: 0;
}
.header-search .form-inline .btn i {
    font-size: 23px;
}
.header-search .form-inline input{
    color: #333333;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
}
.form-control:focus {
    color: #333333;
    background-color: #fff;
    border-color: #DFDFDF;
    outline: 0;
    box-shadow: none;
}
.btn.focus, .btn:focus{
    box-shadow:none;
}
.title{
    color: var(--primary-light);
    color: #2E3871;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 0.77px;
    line-height: 40px;

}

/* footer */

.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.site-footer{
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    margin-top: 80px;
    background-color: #242F3F;
}
.site-footer a{
    color: var(--white);
}
.site-footer a:hover{
    color: #ababab;
}
.copyright-text{
    font-size: 14px;
    color:#ffffff;
    font-family: 'Raleway', sans-serif; 
    line-height:16px;
    text-decoration:none;
}
.copyright-text a:hover{
    text-decoration:none !important;
}
.social-menu{
    font-size: 24px;
    padding: 15px;
}
.handmade-contentwrap{
    margin-bottom: 43px;
}
.handmade-wrapper .slick-slide img{
    border-radius: 13px;
}
.handmade-title{
  color: #2E3871;
   font-family: 'Raleway', sans-serif; 
  font-size: 34px;
  letter-spacing: 0.77px;
  line-height: 40px;
}
.button:focus{
    outline: none !important;
}

.list-unstyled{
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif; 
}
.list-unstyled{
    margin-bottom:0;
}
.footer-menu{
    display: flex;
    text-align: left;
}
.social-wrap{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
}
.social-wrap i{
    font-size: 25px;
}

/* MEDIA QUERIES */
@media (max-width: 1024px){
    .container, 
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1240px;
    }
/*Banner text css*/
 .main-slider .category-title{
    top: 0%;
    font-size: 28px;
}
.main-slider .thanks-title{
    top: 20%;
    left: 10%;
    font-size: 65px;
}
.main-slider .descrip-title{
    top: 43%;
    font-size: 33px;
}
.main-slider .btn-explore{
    top: 38%;
    left: 10%;
    padding: 11px 0px;

}
.main-slider .button-wrap{
    top:60%;
    left: 3%;
    width: 43%;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.data-not-found-wrapper {
    margin-left: 30%;
}
}