slider-wrapper {
  width: 760px;
  margin: auto;
}
.slick-slide {
  text-align: center;
  position: relative;
}
.slick-slide:focus {
  outline: none;
}
.slick-slide-title {
  text-transform: capitalize;
}
/* .slick-slide-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
    0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
} */
/* .slick-slide-label {
  color: #fff;
  padding: 10px;
  left: 0px;
  font-size: 1.5em;
  bottom: 0px;
}*/
.slick-prev:before,
.slick-next:before {
  color: #777777;
}
.overlay {
    position: absolute;
    top: 19%;
    left: 0;
    right: 0px;
    width: 100%;
    height: 520px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.banner-text.label{
  margin-bottom: 0;
}
.banner-text{
   top: 15%;
   left: 13%;
   width: 100%;
   color: #ffffff;
   display: flex;
   flex-direction: column;
   position: absolute;
   text-align: left;
   
}
.category-title{
  font-size:34px;
  line-height: initial;
  letter-spacing: 0;
  font-weight:  bold;
  font-family: 'Raleway', sans-serif;
}
.thanks-title{
  line-height: initial;
  letter-spacing:0;
  font-size:90px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;

}
.descrip-title{ 
  font-size:44px;
  line-height: initial;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.btn-explore{
  font-family: 'Raleway', sans-serif;
  background: transparent;
  padding: 11px 16px;
  border-radius: 50px;
  font-weight: bold;
  border:2pt solid #fff;
  text-transform: uppercase;
}
.btn-explore a{
  cursor: pointer;
}

.btn-buynow{
    font-family: 'Raleway', sans-serif;
    background: #ffffff;
    padding: 11px 39px;
    border-radius: 50px;
    font-weight: bold;
    border: 2pt solid #fff;
    text-transform: uppercase;
    transition: all 0.5S;
}
.btn-buynow a{
  cursor: pointer;
}


.button-left{
  padding: 9px 12px;
  background-color: #ffffff;
  border: 1px solid #979797;
  border-right: none;
}
.button-left i{
  font-size: 26px;
}
.button-right {
  padding: 9px 12px;
  background-color: #ffffff;
  border: 1px solid #979797;
}
.button-right i{
  font-size: 26px;
}
.catogory-title{
  margin-left: -15px;
  font-size: 28px;
  color: #2E3871;
  line-height: 33px;
  font-weight: 700;
  margin-top: 71px;
  margin-bottom: 18px;
  font-family: 'Raleway', sans-serif; 

}
.featurep-navigation{
  margin-top: 71px;
  margin-right: 15px;
}
