slider-wrapper {
  width: 760px;
  margin: auto;
}
.slick-slide {
  text-align: center;
  position: relative;
}
.slick-slide:focus {
  outline: none;
}
.slick-slide-title {
  text-transform: capitalize;
}
/* .slick-slide-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
    0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
} */
.slick-slide-label {
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0px;
  font-size: 1.5em;
  bottom: 0px;
}
.slick-prev:before,
.slick-next:before {
  color: #777777;
}

.category-title{
  top: 3%;
  left: 10%;
  font-size:34px;
  line-height: 80px;
  letter-spacing: 0;
  font-weight:  bold;
  position: absolute;
  font-family: 'Raleway', sans-serif;
}
.thanks-title{
  top: 18%;
  left: 10%;
  letter-spacing:0;
  line-height: 90px;
  font-size:90px;
  font-weight: 600;
  position: absolute;
  font-family: 'Raleway', sans-serif;

}
.descrip-title{
  top: 39%;
  left: 11%;
  font-size:44px;
  font-weight: bold;
  position: absolute;
  font-family: 'Raleway', sans-serif;
}

.button-wrap {
 position: absolute;
 top: 65%;
 left: 0; 
 width: 42%;
 text-align: center;
}

.btn-explore{
  background: transparent;
  padding: 11px 28px;
  border-radius: 50px;
  font-weight: bold;
  border:2pt solid #fff;
  text-transform: uppercase;
}

.btn-buynow{
  background: #fff;
  color: blue;
  padding: 11px 28px;
  border-radius: 50px;
  border:none;
  font-weight: bold;
  text-transform: uppercase; 
}
.button-left{
  background-color: #ffffff;
  border: 1px solid #979797;
  border-right: none;
  padding: 5px 10px;
}
.button-left i{
  font-size: 22px;
}
.button-right {
  background-color: #ffffff;
  border: 1px solid #979797;
  padding: 5px 10px;
}
.button-right i{
  font-size: 22px;
}
.catogory-title{
  margin-left: -15px;
  font-size: 28px;
  color: #2E3871;
  line-height: 33px;
  font-weight: 700;
  margin-top: 71px;
  margin-bottom: 18px;
  font-family: 'Raleway', sans-serif; 

}
.featurep-navigation{
  margin-top: 71px;
  margin-right: 15px;
}
