.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  z-index: 9;
  background-color: #ffffff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  /* width: 350px; */
}

/* The navigation menu links */
.sidenav a {
  font-size: 24px !important;
  line-height: 29px;
  color: #333333;
  display:block;
  padding: 16px;
  padding-left: 35px;
  position: relative;
  margin: 0 25px 0 0;
  border-bottom: 1px solid #DDDDDD;
  text-transform:capitalize;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Raleway', sans-serif;
}
.sidenav :nth-child(3){
  text-transform: uppercase;
  margin: 0 25px 0 0px;
  padding-left: 15px;

}
.sidenav :nth-child(2){
  margin: 0 25px 0 0px;
  padding-left: 11px;
  border-bottom: 1px solid #123593 !important;
}
.arw-position{
  position: absolute;
  right: 25px;
  font-size: 30px;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #490096;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 27px;
  right:0;
  font-size: 36px;
  margin-left: 50px;
  border: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

body{
  padding-top:0px;
  background:#fff;
}
.wrapper{
  width:70%;
}
@media(max-width:992px){
 .wrapper{
  width:100%;
} 
}
.panel-heading {
  padding: 0;
    border:0;
}
.panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
  word-spacing:3px;
    text-decoration:none;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
} 
/*Header navigation*/
.header-nav{
margin: 24px 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


